@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

:root {
    --primary-color: chocolate;
    --secondary-color: peru;
    --dark-color: saddlebrown;
    --light-color: burlywood;
    --my-orange: rgb(255, 141, 10);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Stick', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    font-size: 3em;
}

p {
    width: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
    height: 80px;
    color: white;
}

.navbar ul {
    display: flex;

}

.navbar li {
    max-height: 40px;
}

.navbar a {
    font-size: 1.5em;
    color: white;
    margin: 30px;
    padding: 10px;
    transition: 0.2s ease;
}

.navbar a:hover {
    font-size: 1.6em;
    border-bottom: 2px solid #333;
}

.container {
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* Showcase */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    overflow: visible;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box {
    color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.box .fas {
    font-size: 6rem;
}

.showcase-box {
    background-color: var(--secondary-color);
    max-width: 300px;
    height: 300px;
    margin: 10px;
}

.showcase-box:hover {
    color: white;

/* Tablets and under */
@media(max-width: 768px){

    .flex {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        height: 200px;
    }

    .navbar li {
        padding: 5px;
    }

    .container {
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
        height: 100%;
    }
}

/* Mobile */
@media(max-width: 500px){
    body{
        color:white;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        height: 250px;
    }

    .navbar ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }

    .navbar li {
        padding: 5px;
    }

    .navbar a {
        padding: 0;
    }

    .navbar a:hover {
        font-size: 1.7em;
        border: none;
    }

    .container {
        max-width: 500px;
        align-items: center;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
    }

}