@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

:root {
    --primary-color: chocolate;
    --secondary-color: peru;
    --dark-color: saddlebrown;
    --light-color: burlywood;
    --my-orange: rgb(255, 141, 10);
}

body {
    font-family: 'Stick', sans-serif;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
}

.navbar ul {
    display: flex;
}

.navbar .flex {
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid > div {
    height: 300px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorbox {
    background-color: var(--my-orange);
}

.fas {
    color:var(--primary-color);
    font-size: 100px;
    transition: 0.15s ease-in;
}

.fas:hover {
    color: var(--dark-color);
    font-size: 120px;
}